*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 250px;
    height: auto;
    text-align: center;
    position: relative;
}
.container button {
    width: 7rem;
    height: 3rem;
    background: transparent;
    border: 2px solid #000;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
}
.container .items-container{
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 205px;
    height: auto;
    display: none;
}
.container #items{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.container #items .item{
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}

.container #items .item:hover{
    font-weight: bold;
    background-color: rgb(187, 187, 187);
}