.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-not-clicked{
    background-color: red;
    color: white;
    font-size: 20px;
    height: 50px;
    width: 100px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10%;

}